*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(244, 244, 244);
}

.card-img-container > img {
    width: 100%;
    border-radius: 7px;
}
.card {
    width: 320px;
    padding: 1.5rem;
    padding-top: 0;
    border-radius: 7px;
    display: flex;
    background: rgb(255, 255, 255);
    row-gap: 0.5rem;
    flex-direction: column;
    box-shadow: 0 0 1rem 0.125rem rgba(0, 0, 0, 0.068);
}

.heading > h1 {
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading > span {
    display: block;
    padding: 0.25rem;
    text-align: left;
    color: rgb(98, 98, 98);
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-box {
    display: flex;
    justify-content: space-between;
    column-gap: 7px;
    padding: 0.25rem;
    margin-top: 0.5rem;
}
.btn-box button.getotp {
    width: 100%;
    margin-right: auto;
    background-color: rgb(0 124 255);
    color: #fff;
}
.btn-box > button.resend > span {
    background-color: rgba(255, 255, 255, 0.422);
    font-size: smaller;
    padding: 0.125rem 0.25rem;
    border-radius: 5px;
    font-weight: bold;
}

.btn-box > button.resend{
    background-color: rgb(0 124 255 / 0.80);
    justify-content: space-evenly;
    padding: 0 1rem;
    color: rgb(255, 255, 255);
}
.btn-box > button.submit{
    background-color: rgb(31, 214, 89);
    color: white;
}

div[data-otp-ready="false"] > .btn-box > button:not(.getotp){
    display: none;
}
div[data-otp-ready="true"] > .btn-box > button.getotp{
    animation: close-from-right 500ms 0ms 1 forwards linear;
}


.btn-box > button {
    border: none;
    height: 34px; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    column-gap: 0.125rem;
    background: none;
    outline: none;
    width: 0;
    border-radius: 5px;
}
.btn-box > button:not(.getotp){
    animation: expand-width-to-50 500ms 200ms 1 forwards linear;
}
.otp-input {
    background: transparent;
    border: none;
    position: absolute;
    inset: 0;
    color: transparent;
    outline: none;
    user-select: none;
}
.otp-input::selection{
    color: none;
}

div[data-otp-ready="false"] > .otp-container > span{
    border: 1px solid rgba(149, 149, 149, 0.328);
}

.otp-container {
    /* background-color: rgba(255, 255, 255, 0.441); */
    padding: 0.25rem;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.25rem;
}
.otp-container > span{
    pointer-events: none;
    border-radius: 4px;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    font-weight: bold;
    aspect-ratio: 1/1;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.fade-in-animation {
    animation: fade-in 700ms 350ms infinite ease-in-out;
}

@keyframes  expand-width-to-50 {
    from{
        color: transparent;
    }
    to {
        color: #fff;
        width: 50%;
    }
}

@keyframes close-from-right {
    from{
        color: transparent;
    }
    to{
        width: 0;
        margin-right: -7px;
    }
}

@keyframes fade-in {
    from {
        color: transparent;
    }to {
        color: black;
    }
}